@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 5px 0;
}

li {
  list-style: none;
}

body {
  background: linear-gradient(101.07deg, #2e3c87 7.93%, #6a1094 93.3%);
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}
 
.sosmed {
  text-decoration: none;
  font-size: 30px;
}

.container {
  margin: auto;
  width: 500px;
  height: calc(100vh - 20px);
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container .profile {
  width: 104px;
  margin-bottom: 20px;
  height: 104px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 99;
}

.container h2 {
  margin: 0;
  font-size: 18px;
}

.container .subtitle {
  font-size: 14px;
  color: #e3e3e3;
}

.social-media-container {
  display: flex;
  height: 65px;
  width: 223px;
  justify-content: space-around;
  align-items: center;
  background: rgba(224, 224, 224, 0.35);
  border-radius: 50px;
  position: absolute;
  top: -32px;
  left: calc(50% - 111px);
}

.social-media-container a {
  background: #fff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
}

.social-media-container svg {
  color: #9d46c6;
}

.info-container {
  background: #fff;
  width: 100%;
  height: auto;
  border-radius: 50px 50px 0 0;
  position: relative;
  margin-top: 40px;
}

.content {
  padding: 50px 30px 20px;
  width: 100%;
  color: #43085f;
  overflow: hidden;
  position: relative;
}

.secondary-content {
  visibility: hidden;
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 50px;
  z-index: 2;
  padding: 0 30px;
}

.secondary-content h3 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.secondary-content h3 svg {
  margin-right: 10px;
}

.secondary-content.show {
  animation: content-show 0.5s forwards;
}

.secondary-content.hide {
  animation: content-hide 0.5s forwards;
}

@keyframes content-show {
  0% {
    left: 100%;
    visibility: hidden;
  }
  100% {
    left: 0;
    visibility: visible;
  }
}

@keyframes content-hide {
  0% {
    left: 0;
    visibility: visible;
  }
  100% {
    left: 100%;
    visibility: hidden;
  }
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 16px;
  margin: 20px 0;
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.link {
  margin: 15px auto;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bcbcbc;
  border-radius: 16px;
  text-decoration: none;
  color: #43085f;
  cursor: none;
  -webkit-box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
  -moz-box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
  box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
}

.link.highlight {
  background: #b366d8;
  border: 1px solid #b366d8;
  color: #fff;
  font-weight: bold;
}













/*-----------------------------------*\
  #Modal Demo
\*-----------------------------------*/
/** Variables */
/** Keyframes */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes popIn {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes popIn {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/** Card */
.card {
  border: 1px solid gainsboro;
  border-radius: 0.5rem;
  display: flex;
  padding: 0.5rem;
}

.card-img {
  flex: none;
  margin-right: 1rem;
}

.card-title {
  font-size: 100%;
  line-height: inherit;
  margin: 0;
}

.card-graph {
  font-size: 87.5%;
  line-height: inherit;
  margin: 0;
}

/** Button */
.btn {
  border: 1px solid;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  padding: 0.5em 0.75em;
  text-align: center;
  white-space: nowrap;
}

.btn-primary {
  background: blue;
  border-color: transparent;
  color: white;
  font-weight: 700;
}
.btn-primary:focus, .btn-primary:hover {
  background: darkslateblue;
}

.btn-secondary {
  background: white;
  border-color: currentColor;
  color: blue;
  font-weight: 700;
}
.btn-secondary:focus, .btn-secondary:hover {
  background: lightcyan;
  color: darkslateblue;
}

.btn-tertiary {
  background: transparent;
  border-color: transparent;
  color: blue;
}
.btn-tertiary:focus, .btn-tertiary:hover {
  color: darkslateblue;
}

/** Button group */
.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-group > div {
  margin: -0.25rem;
}
.btn-group .btn {
  margin: 0.25rem;
}

/**
 * Dialog
 *
 * Modal, bottom sheet, and panel all extend the Dialog styles.
 */
.dialog {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.dialog-mask {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.dialog-container {
  height: 100%;
  position: relative;
}

.dialog-surface {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dialog-header {
  border-bottom: 1px solid gainsboro;
  padding: 1rem;
  position: relative;
}

.dialog-title {
  color: black;
  font-size: 100%;
  line-height: 1.25;
  margin: 0;
}

.dialog-close {
  background: none;
  border: none;
  color: darkslategray;
  cursor: pointer;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  margin: 0;
  padding: 0.5rem;
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  cursor: none;
}
.dialog-close:focus, .dialog-close:hover {
  color: darkslateblue;
}

.dialog-content {
  flex: 1 1 auto;
  overflow: scroll;
  padding: 1rem;
}

.dialog-footer {
  border-top: 1px solid gainsboro;
  padding: 1rem;
}

/** Bottom sheet */
.bottom-sheet-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 1rem;
}

.bottom-sheet-surface {
  border-radius: 0.5rem 0.5rem 0 0;
  max-width: 36em;
  margin-left: auto;
  margin-right: auto;
  max-height: calc(100vh - 1rem);
  width: 100%;
}
.desk-modal {
  margin-top: 15px;
}
.date-modal {
  margin-top: 10px;
  font-weight: bold;
}
/** Bottom sheet: Transition */
.is-transitioning-in .bottom-sheet-mask {
  -webkit-animation: 200ms linear fadeIn forwards;
          animation: 200ms linear fadeIn forwards;
  opacity: 0;
}
.is-transitioning-in .bottom-sheet-surface {
  -webkit-animation: 500ms cubic-bezier(0.165, 0.84, 0.44, 1) slideUp forwards;
          animation: 500ms cubic-bezier(0.165, 0.84, 0.44, 1) slideUp forwards;
}

.is-transitioning-out .bottom-sheet-mask {
  animation: 300ms linear 400ms fadeIn reverse forwards;
}
.is-transitioning-out .bottom-sheet-surface {
  animation: 500ms cubic-bezier(0.075, 0.82, 0.41, 1) slideUp reverse forwards;
}

/** Utilities */
.is-hidden {
  display: none;
}

.is-scroll-locked {
  overflow: hidden;
}

.is-visible {
  display: block;
}









.loader{
  position: fixed;
  top: 0;
  left: 0;
  background: #00091B;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.disppear{
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}